<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/create" method="post">
    <p>Navn: </p>
    <input type="text" name="fornavn" placeholder="navn">
    <p>Efternavn: </p>
    <input type="text" name="efternavn" placeholder="efternavn">
    <p> Adresse: </p>
    <input type="text" name="adresse" placeholder="adresse">
    <p> hus nummmer:  </p>
    <input type="number" name="husNr" placeholder="nummer">
    <p> telefon nummer: </p>
    <input type="text" name="tlfnumb" placeholder="telefonmummer">

    <input type="submit" value="Tilføj kontakt">
</form>

</body>
</html>